.container {
    width: 400px;
    margin-top: 15vh;
    box-shadow: 0 3px 20px rgba(0, 0, 0, 0.3);
    padding: 30px;
    height: 450px;
}

form label {
    color: grey;
}

.button {
    width: 48%;
}

.text-center {
    font-size: 1.8em;
}

@media (max-width : 645px) {
    .container {
        width: 250px;
    }
    .text-center {
        font-size: 1.2em;
    }
    .form-group label {
        font-size: 0.8em;
    }
    .input-group .form-control {
        height: 30px;
    }
    .button {
        width: 90px;
    }
}