* {
    font-family: 'Rubik', sans-serif;
    margin: 0;
    padding: 0;
}

/* variabels */
:root {
    --primary: #028de9;
    --secondary: #057bca;
    --text-color: #333;
    --main-padding: 0 3em;
}

/* navigation */
.navigation {
    display: flex;
    background-color: var(--primary);
    padding: 5px 10px;
    width: 100%;
    box-sizing: border-box;
    align-items: center;
    gap: 20px;
}
.navigation a {
    display: flex;
    text-decoration: none;
    align-items: center;
    flex: 1.2;
}
.navigation a img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}
.navigation a h3 {
    font-size: 1em;
    color: white;
    margin-left: 5px;
}
.panel-user {
    display: flex;
    flex: 0.5;
    justify-content: flex-end;
}
.panel-user i {
    color: white;
    font-size: 2em;
}
.user-name {
    font-size: 0.7em;
    color: white;
    margin-left: 10px;
    text-align: center;
}
.button-nav {
    flex: 0.2;
    text-align: center;
}

/* title */
.title {
    text-align: center;
    margin-bottom: 20px;
    padding-top: 20px;
    position: relative;
}
.title h1 {
    margin-bottom: 5px;
}
.title h2 {
    margin-bottom: 5px;
}
.title .logo-title {
    width: 80px;
    position: absolute;
    border-radius: 50%;
    left: 5px;
    top: 18px;
}
.title .logo-title2 {
    width: 80px;
    position: absolute;
    top: 20px;
    right: 5px;
}

/* functional section */
.functional-section {
    display: flex;
    margin-bottom: 10px;
    flex-wrap: wrap;
}
.search-section {
    flex: 1;
}
.search-section form {
    display: flex;
    align-items: center;
}
.add-data {
    flex: 0.5;
    display: flex;
    justify-content: flex-end;
}
.search {
    border-radius: 5px;
    width: 200px;
    height: 40px;
    font-size: 1.2em;
    border: none;
    outline: none;
    background-color: rgb(224, 224, 224);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.10);
    margin-right: 5px;
}

/* Container */
.container {
    position: relative;
    width: 95%;
    margin: 0 auto;
    overflow: hidden;
}

.container .background-logo {
    position: absolute;
    width: 350px;
    top: 35%;
    left: 35%; 
    border-radius: 50%;
    z-index: -1;
    opacity: 0.1;
}

/* table */
.table-wrap {
    padding: 20px 0;
}
.content-table {
    border-collapse: collapse;
    margin: 25px 0;
    width: 100%;
    font-size: 0.7em;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.12);
    margin: 0 auto;
    color: var(--text-color);
}
.content-table thead tr {
    background-color: var(--primary);
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 1.2em;
}
.content-table tbody tr {
    text-align: center;
    border-bottom: 1px solid #dddddd;
}
.content-table th, .content-table td {
    padding: 12px 20px;
}
.content-table tbody tr:nth-child(even) {
    background-color: #f3f3f3;
}
.content-table tbody tr:last-child {
    border-bottom: 3px solid var(--primary);
}
.content-table tbody tr td a{
    text-decoration: none;
    color: black;
}
.content-table tbody tr td a:hover {
    font-weight: bold;
    color: var(--primary);
}

/*  pagination  */
.pagination {
    text-align: center;
    margin-bottom: 20px;
}

.pagination a{
    display: inline-block;
    width: 20px;
    border-radius: 5px;
    text-decoration: none;
    color: white;
    background-color: var(--primary);
    font-size: 0.8em;
}

/* button */
.button {
    height: 40px;
    width: 100px;
    background-color: var(--secondary);
    border: none;
    border-radius: 5px;
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 0.8em;
    transition: 0.3s ease-in;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

}
.button:hover {
    background-color: var(--text-color);
    cursor: pointer;
}

/* footer */
.footer {
    background-color: var(--primary);
    display: flex;
    padding: 10px;
    align-items: center;
}
.footer-left {
    flex: 1.2;
    color: white;
}
.footer-left p {
    font-size: 0.7em;
}
.footer-right {
    flex: 0.8;
    display: flex;
    justify-content: flex-end;
}

/* media breakpoints */

/* smartphone view */
@media (max-width: 645px) {
    
    .navigation a {
        display: flex;
        text-decoration: none;
        align-items: center;
        flex: 1.2;
    }
    .navigation a img {
        width: 30px;
        height: 30px;
        border-radius: 50%;
    }
    .navigation a h3 {
        font-size: 0.6em;
        color: white;
        margin-left: 5px;
    }
    .panel-user {
        display: flex;
        align-items: center;
        flex: 0.6;
    }
    .panel-user i {
        color: white;
        font-size: 1.2em;
    }
    .user-name {
        font-size: 0.2em;
        color: white;
        margin-left: 5px;
    }
    .button-nav {
        flex: 0.1;
    }
    .title h1 {
        font-size: 1.2em;
    }
    .title h2 {
        font-size: 0.8em;
    }
    .title img.logo-title {
        width: 40px;
        top: 12px;
        left: -2px;
    }
    .title img.logo-title2 {
        width: 40px;
        top: 12px;
        right: -2px;
    }
    .search-section .search {
        width: 100px;
        height: 30px;
        font-size: 12px;
        padding: 2px;
    }
    .button {
        width: 60px;
        height: 35px;
        font-size: 0.55em;
    }
    .container .background-logo {
        position: absolute;
        width: 150px;
        top: 50vh;
        left: 23vw; 
        border-radius: 50%;
        z-index: -1;
        opacity: 0.2;
    }
    .content-table {
        font-size: 0.6em;
    }
    .table-wrap {
        overflow-x: scroll;
    }
}

/* Media print */
@media print {
    .navigation {
        display: none;
    }
    .functional-section {
        display: none;
    }
    th a {
        display: none;
    }
    .footer-right {
        display: none;
    }
    .table-wrap {
        overflow: hidden;
    }
    footer {
        display: none;
    }
    .content-table thead tr th:last-child {
        display: none;
        table-layout: unset;
    }
    .pagination {
        display: none;
    }
}